{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

    <!--/bo'lim uchun nom -->
    <div class="breadcrumbs overlay" id="articles_detail">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>{{ article.a_header|truncatechars_html:50 }}</h2>
                        <ul class="bread-list">
                            <li><a href="{% url 'articles' %}">{% trans 'Maqolalar' %}</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li><a href="#articles_detail">{{ article.a_header|truncatechars_html:63 }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Bo'lim uchun nom -->

    <div class="service-details-area section pb-0 blog">
        <div class="container">
            <div class="single-news">
                <div class="news-head">
                    <img src="{{ article.a_article_img.url }}" alt="#">
                </div>
                <div class="news-body">
                    <div class="services-details-img news-content">
                        <div class="d-flex justify-content-start align-content-center">
                            <span class="date">{{ article.a_date|date:"d.m.Y" }}</span>
                            <span class="date pt-1" style="font-size: 16px; background: none; color: #1A76D1;"><i
                                    class="bi bi-eye"
                                    style="padding-right: 6px"></i>{{ article.a_view_counter }}</span>
                        </div>
                        <h2 class="pt-3">{{ article.a_header }}</h2>
                        <p class="text">{{ article.a_paragraph|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="blog grid section">
        <div class="container">
            <div class="row row-cols-2 row-cols-md-3 g-4">
                {% for a in articles %}

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-news">
                            <div class="news-head">
                                <img class="" src="{{ a.a_article_img.url }}" alt="#">
                            </div>
                            <div class="news-body">
                                <div class="news-content">
                                    <div class="d-flex justify-content-between align-content-center">
                                        <span class="date">{{ a.a_date|date:"d.m.Y" }}</span>
                                        <span class="date pt-1" style="font-size: 16px; background: none; color: #1A76D1;"><i class="bi bi-eye"
                                                                                           style="padding-right: 6px"></i>{{ a.a_view_counter }}</span>
                                    </div>
                                    <h2><a href="{% url 'articles_detail' id=a.id %}">{{ a.a_header|truncatechars_html:63 }}</a></h2>
                                    <p class="text">{{ a.a_paragraph|truncatechars_html:77|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>
    </section>

{% endblock body %}